<% const cateStrings=Object.values(categories);
 const brandStrings=Object.values(brands);
  const effectStrings=Object.values(effects);
  const colorStrings=Object.values(colors); 
  %>



<div class="container text-primary">
  <h1 class="text-3xl mb-4"><%=title%></h1>
  <form action="" method="POST" class="flex flex-col gap-3 p-5 mx-auto bg-primary rounded-box">
    <h2 class="text-2xl text-primary-content">Product Information</h2>
    <div class="flex gap-3">
      <label class="input input-bordered flex items-center gap-2 flex-1"> ID
        <input type="text" class="grow" id="productID" name="productID" required value="<%=product.id%>" />
      </label>
      <label class="input input-bordered flex items-center gap-2 flex-2"> Title
        <input type="text" class="grow" id="productTitle" name="productTitle" required value="<%=product.title%>" />
      </label>
      <label class="input input-bordered w-1/3 flex items-center gap-2">Case Price
        <input type="text" class="grow" name="productCasePrice" required value="<%=product.casePrice%>" />
      </label>
      <label class="input input-bordered w-1/3 flex items-center gap-2">Unit Price
        <input type="text" class="grow" name="productUnitPrice" value="<%=product.unitPrice%>" />
      </label>
    </div>
    <div class="flex gap-4 justify-center items-end">
      <label class="flex items-center gap-2 text-primary-content"> In Stock
        <input type="checkbox" class="toggle toggle-primary" name="productInStock" <%= product.inStock ? 'checked' : '' %> />
      </label>
      <div class="form-control">
        <div class="label">
          <span class="label-text text-primary-content">Category</span>
        </div>
        <select class="select select-bordered w-full max-w-xs" name="productCategory">
          <option disabled <%= !product.Categories.name ? 'selected' : '' %>>Select Category</option>
          <% cateStrings.forEach(cate => { %>
          <option value="<%=cate%>" <%= product.Categories.name === cate ? 'selected' : '' %>><%=cate%></option>
          <% }) %>
        </select>
      </div>
      <div class="form-control">
        <div class="label">
          <span class="label-text text-primary-content">Brand</span>
        </div>
        <select class="select select-bordered w-full max-w-xs" name="productBrand">
          <option disabled <%= !product.Brands.name ? 'selected' : '' %>>Select Brand</option>
          <% brandStrings.forEach(brand => { %>
          <option value="<%=brand%>" <%= product.Brands.name === brand ? 'selected' : '' %>><%=brand%></option>
          <% }) %>
        </select>
      </div>
      <label class="input input-bordered w-1/3 flex items-center gap-2">Package
        <input type="text" class="grow" name="productPackage" required value="<%=product.package%>" />
      </label>
    </div>
    <div class="flex gap-4">
      <div class="form-control grid grid-cols-2 gap-2 border-2 bg-base-200 rounded-md p-6 flex-grow">
        <% colorStrings.forEach(color => { %>
        <label class="label cursor-pointer flex gap-2">
          <span class="label-text text-primary"><%= color %></span>
          <input type="checkbox" class="checkbox checkbox-primary" name="productColors" value="<%= color %>" <%= product.ColorStrings.some(c => c.name === color) ? 'checked' : '' %>>
        </label>
        <% }) %>
      </div>
      <div class="form-control grid grid-cols-2 gap-2 border-2 bg-base-200 rounded-md p-6 flex-grow">
        <% effectStrings.forEach(effect => { %>
        <label class="label cursor-pointer flex gap-2">
          <span class="label-text text-primary"><%= effect %></span>
          <input type="checkbox" class="checkbox checkbox-primary" name="productEffects" value="<%= effect %>" <%= product.effects.some(eff => eff.name === effect) ? 'checked' : '' %>>
        </label>
        <% }) %>
      </div>
    </div>
    <div class="flex gap-4">
      <label class="input input-bordered flex items-center gap-2 flex-grow"> Description
        <input type="text" class="grow" name="productDescription" required value="<%=product.description%>" />
      </label>
      <label class="input input-bordered flex items-center gap-2 flex-grow-0"> Image URL
        <input type="text" class="grow" name="productImageURL" required value="<%=product.image%>" />
      </label>
      <label class="input input-bordered flex items-center gap-2 flex-grow-0"> Video URL
        <input type="text" class="grow" name="productVideoURL" value="<%=product.videoURL%>" />
      </label>
    </div>
    <div class="mx-auto">
      <button type="submit" class="btn btn-success">Add Product</button>
    </div>
  </form>
</div>