<% const inputStyle = "input input-bordered  flex items-center gap-2 "%>


<div class="bg-neutral rounded-2xl p-6 flex flex-col border-opacity-50  mx-auto  justify-center items-center">
  <h1 class="text-3xl mb-3">Register</h1>
  <%if(messages.length >0){ %>
  <div id="messagesArea" class="alert alert-danger">
    <%= messages%>
  </div>
  <%}%>

        <form action="" method="post" class="flex flex-col  gap-4  justify-center">
            <label for="email" class="<%=inputStyle%>">Email
  <input type="email" class="grow" id="email" name="email" required />
  </label>
  <label for="password" class="<%=inputStyle%>">Password
    <input type="password" class="grow" id="password" name="password" required />

  </label>
  <div class="divider divider-primary ">Profile Information</div>
  <div role="alert" class="alert alert-info">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    <span> This information must be filled out for an order, but does not have to be done to register</span>
  </div>

  <label for="firstName" class="<%=inputStyle%>">First Name
    <input type="text" class="grow" id="firstName" name="firstName" />
  </label>
  <label for="lastName" class="<%=inputStyle%>">Last Name
    <input type="text" class="grow" id="lastName" name="lastName" />
  </label>
  <label for="dateOfBirth" class="<%=inputStyle%>">Date of Birth
    <input type="date" class="grow" id="dateOfBirth" name="dateOfBirth" />
  </label>

  <div class="mb-3 ">
    Already have an Account? <a href="/user/login" class="text-blue-500 underline"> Login Here</a>
  </div>

  <button type="submit" class="btn btn-primary btn-md">
    Register <i class="fa-solid fa-lg fa-right-to-bracket"></i>
  </button>
  </form>
</div>
</div>